/* Custom CSS File for the impress presentation */
/* To add Google Fonts, one option is to use @import(url('')); if you do, it must go before all other declarations except @charset
 * another option is to create a font source block. This will allow you to have a local fallback. It also allows Truetype fallbacks an so on.
 *
 *
 *
 * An example block below 
 * @font-face {
 * font-family: 'Satisfy';
 *  font-style: normal;
 *  font-weight: 400;
 *  src: local('Satisfy') url(http://themes.googleusercontent.com/static/fonts/satisfy/v4/tmRzDlQs5wZmOn9mIuLa-QLUuEpTyoUstqEm5AMlJo4.woff) format('woff'),
 *  local('Satisfy') url('Satisfy.woff') format('woff'); 
 * }
 *
 *
 * */

/* hint and unsupported content */
div.fallback-message {
    display: none;
}


div.hint {
    display: none;
}
/* Tag Markup */
p {
    font-family: 'Comfortaa', serif;
}
h1,h2{
    font-family: 'Righteous', sans-serif;
}
div.step{
    min-width: 900px;
    min-height: 700px;
    font-size: 48px;
}

div.step p {
    text-align: left;
}
p.embed {
    font-size: 36px;
    text-align: left;
    font-family: 'Courier New', monospace;
    margin: 1em;
}
p.small {
    font-size: 50%;
}

sub{
    vertical-align: sub;
    font-size: 66%;
}

strong{
    font-weight: bold;
}
/* Impress-related markup */
.impress-enabled .step.active {
    background-color: #fffff8;:
    color: #111111;
}

/* make the non-active steps transparent */
.step:not(.active) { opacity: 0.33; }

/* Per-slide Markup uses .impress-on-slideID */
.impress-not-supported div.fallback-message{
    display: block;
    height: 100px;
    width: 250px;
    margin-left: -125px;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    top: 50%;

}
.impress-on-title div.hint{
   display: block;
   font-size: 14px;
   font-style: italic;
   text-align: center;
   width: 250px;
   position: absolute;
   left: 50%;
   margin-left: -125px;
}
.impress-on-overview div:hover{
    opacity: 1;
    background-color: #fffff8;
}
ol {
    list-style: decimal inside;
}
ul {
    list-style: circle inside;
}
li {
    margin: 0.5em;
}
/* specific divs */
div#title h1{
    text-align: center;
    margin: 10px;
    font-size: 120px;
    font-family: 'Righteous', sans-serif;
}
div#title p{
    text-align: center;
}
div#title div#logofoot{
    width: 100%;
    position: absolute;
    top: 10px;
        display: flex;
    justify-content: space-between;
}
div#title div#logofoot a{ 
    display: inline-block;
}
div#title div#logofoot img{
    height: 100px;
}
.impress-on-Language{
 /*remember that this is in the css directory */
    background-image: url('../img/fox.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}

div#Language
{
    color: white;
    font-size: 72px;
    margin-left: -100px;
    min-height: 100px;
    min-width: 50%;
    background-color: rgba(1,1,1,0.5);
}
.impress-on-Zipf{
 /*remember that this is in the css directory */
    background-image: url('../img/zipf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-height: 100%;
    background-width: 100%;
}
div#Zipf {
    background: none;
}
.impress-on-Distributional{
 /*remember that this is in the css directory */
    background-image: url('../img/crowd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}
div#Distributional h1,h2{
   margin-bottom: 10%;
   text-align: center; 
}
div#Distributional h1{
    font-size: 60px;
}
div#Distributional h2{
    font-size: 48px;
}
div#Distributional div#Sentence{
    position: absolute;
    font-size: 36px;
}
.impress-on-operations{
 /*remember that this is in the css directory */
    background-image: url('../img/operations.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}
div#operations h1{
    font-size: 60px;
    text-align: center;
}
.impress-on-Vectors{
 /*remember that this is in the css directory */
    background-image: url('../img/relationships.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-height: 100%;
    background-width: 100%;
}

div#Vectors {
    background: none;
}
.impress-on-Translate{
 /*remember that this is in the css directory */
    background-image: url('../img/embed.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}
div#Translate  img{
    width:100%;
}

div#Translate ol{
   font-size: 50%;
}
div#FunAndProfit h1,h2{
    margin-bottom: 10%;
}
.impress-on-DIY{
 /*remember that this is in the css directory */
    background-image: url('../img/craft.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}
div#DIY {
    background-color: rgba(255,255,248,0.5)
}
div#DIY p{
    margin-bottom: 1em;
}
.impress-on-Final{
 /*remember that this is in the css directory */
    background-image: url('../img/landing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}

div#Final{
    background: none;
    
}
.impress-on-FunAndProfit{
 /*remember that this is in the css directory */
    background-image: url('../img/record.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}
.impress-on-Embedding{
 /*remember that this is in the css directory */
    background-image: url('../img/measure.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}

div#overview {
    display: none;
}
